USE [master]
GO
/****** Object:  Database [saudeweb]    Script Date: 07/08/2019 10:04:19 ******/
CREATE DATABASE [saudeweb]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'saudeweb_Data', FILENAME = N'c:\dzsqls\saudeweb.mdf' , SIZE = 3136KB , MAXSIZE = 15360KB , FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'saudeweb_Logs', FILENAME = N'c:\dzsqls\saudeweb.ldf' , SIZE = 1024KB , MAXSIZE = 20480KB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [saudeweb].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [saudeweb]
GO
/****** Object:  User [sjuniorbrasil_SQLLogin_1]    Script Date: 07/08/2019 10:04:22 ******/
CREATE USER [sjuniorbrasil_SQLLogin_1] FOR LOGIN [sjuniorbrasil_SQLLogin_1] WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_owner] ADD MEMBER [sjuniorbrasil_SQLLogin_1]
GO
/****** Object:  Schema [sjuniorbrasil_SQLLogin_1]    Script Date: 07/08/2019 10:04:23 ******/
CREATE SCHEMA [sjuniorbrasil_SQLLogin_1]
GO
/****** Object:  Table [dbo].[Agenda]    Script Date: 07/08/2019 10:04:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Agenda](
	[ID] [int] NOT NULL,
	[EmpresaID] [int] NOT NULL,
	[clienteid] [int] NULL,
	[funcionarioid] [int] NULL,
	[dataagendamento] [datetime] NULL,
	[dataagendado] [datetime] NULL,
	[hora] [varchar](20) NULL,
	[observacoes] [varchar](500) NULL,
	[situacao] [int] NULL,
	[dataconclusao] [datetime] NULL,
	[NomeFuncionario] [varchar](100) NULL,
	[NomeCliente] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC,
	[EmpresaID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Agente]    Script Date: 07/08/2019 10:04:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Agente](
	[ID] [int] NOT NULL,
	[EmpresaID] [int] NOT NULL,
	[Descricao] [varchar](100) NULL,
	[RiscoID] [int] NULL,
	[DanosSaude] [varchar](150) NULL,
	[RecomendacaoMedica] [varchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC,
	[EmpresaID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[baixa]    Script Date: 07/08/2019 10:04:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[baixa](
	[id] [int] NOT NULL,
	[EmpresaID] [int] NOT NULL,
	[FinanceiroID] [int] NOT NULL,
	[ParcelaId] [int] NOT NULL,
	[Valor] [decimal](15, 4) NULL,
	[Juros] [decimal](15, 4) NULL,
	[Desconto] [decimal](15, 4) NULL,
	[DataBaixa] [decimal](15, 4) NULL,
	[Obs] [varchar](1000) NULL,
	[Multa] [decimal](15, 4) NULL,
	[Total] [decimal](15, 4) NULL,
	[JMD] [decimal](15, 4) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC,
	[EmpresaID] ASC,
	[FinanceiroID] ASC,
	[ParcelaId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[bancocaixa]    Script Date: 07/08/2019 10:04:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[bancocaixa](
	[id] [int] NOT NULL,
	[baixaid] [int] NOT NULL,
	[empresaid] [int] NOT NULL,
	[tipo] [int] NULL,
	[contaid] [int] NULL,
	[tpdocto] [int] NULL,
	[pessoaid] [int] NULL,
	[dataemissao] [datetime] NULL,
	[datavencimento] [datetime] NULL,
	[dataconciliacao] [datetime] NULL,
	[numerodocumento] [varchar](50) NULL,
	[banco] [varchar](50) NULL,
	[agencia] [varchar](20) NULL,
	[obs] [varchar](1000) NULL,
	[valor] [decimal](15, 4) NULL,
	[debcred] [decimal](15, 4) NULL,
	[cheque] [varchar](30) NULL,
	[transferencia] [int] NULL,
	[emitente] [varchar](100) NULL,
	[conta] [varchar](30) NULL,
	[planocontaid] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC,
	[baixaid] ASC,
	[empresaid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Cidade]    Script Date: 07/08/2019 10:04:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Cidade](
	[ID] [int] NOT NULL,
	[Descricao] [varchar](100) NULL,
	[UF] [varchar](2) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Consulta]    Script Date: 07/08/2019 10:04:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Consulta](
	[ID] [int] NOT NULL,
	[EmpresaID] [int] NOT NULL,
	[PessoaID] [int] NULL,
	[FuncionarioID] [int] NULL,
	[SetorID] [int] NULL,
	[FuncaoId] [int] NULL,
	[DataConsulta] [datetime] NULL,
	[DataConclusao] [datetime] NULL,
	[ProximaConsulta] [datetime] NULL,
	[UltimoEmpresa] [varchar](100) NULL,
	[UltimaFuncaoExercida] [varchar](100) NULL,
	[TempoPermanenciaUltiMoEmprego] [varchar](50) NULL,
	[Peso] [varchar](10) NULL,
	[Altura] [varchar](10) NULL,
	[Temperatura] [varchar](10) NULL,
	[PressaoArterial] [varchar](10) NULL,
	[TempoAposUltimoEmprego] [varchar](15) NULL,
	[MedicoExaminadorId] [int] NULL,
	[MedicoLiberacaoId] [int] NULL,
	[EncaMinhamentoEspecialista] [varchar](100) NULL,
	[DataEncaminhado] [datetime] NULL,
	[SituacaoConsulta] [int] NULL,
	[ValorConsulta] [decimal](18, 0) NULL,
	[FormaPagamento] [int] NULL,
	[Observacao] [varchar](1000) NULL,
	[UltimoEmprego] [varchar](50) NULL,
	[tipoconsulta] [int] NULL,
	[garbage] [int] NULL,
	[financeiroid] [int] NULL,
	[fatura] [int] NULL,
	[valorfaturamento] [decimal](15, 2) NULL,
	[valoravista] [decimal](15, 2) NULL,
	[liberafaturamento] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC,
	[EmpresaID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[consultaAgente]    Script Date: 07/08/2019 10:04:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[consultaAgente](
	[ConsultaID] [int] NOT NULL,
	[EmpresaID] [int] NOT NULL,
	[AgenteID] [int] NOT NULL,
	[consulta_id] [int] NULL,
	[consulta_empresaID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ConsultaID] ASC,
	[EmpresaID] ASC,
	[AgenteID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[consultaExame]    Script Date: 07/08/2019 10:04:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[consultaExame](
	[ConsultaID] [int] NOT NULL,
	[EmpresaID] [int] NOT NULL,
	[ExameID] [int] NOT NULL,
	[pessoaID] [int] NULL,
	[ValorExame] [decimal](18, 2) NULL,
	[FormaPgto] [int] NULL,
	[DataColeta] [datetime] NULL,
	[DataEmissao] [datetime] NULL,
	[ProximaConsulta] [datetime] NULL,
	[SituacaoExame] [int] NULL,
	[Observacao] [varchar](1000) NULL,
	[medicoId] [int] NULL,
	[consulta_id] [int] NULL,
	[consulta_empresaid] [int] NULL,
	[faturadomedico] [int] NULL,
	[repassemedico] [int] NULL,
	[faturapara] [int] NULL,
	[financeiroid] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ConsultaID] ASC,
	[EmpresaID] ASC,
	[ExameID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[contacorrentecaixa]    Script Date: 07/08/2019 10:04:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[contacorrentecaixa](
	[id] [int] NOT NULL,
	[empresaid] [int] NOT NULL,
	[banco] [int] NULL,
	[agencia] [varchar](30) NULL,
	[numeroconta] [varchar](30) NULL,
	[contapadrao] [int] NULL,
	[carteira] [varchar](30) NULL,
	[modalidade] [varchar](30) NULL,
	[codigobeneficiario] [varchar](30) NULL,
	[descricao] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC,
	[empresaid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Empresa]    Script Date: 07/08/2019 10:04:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Empresa](
	[ID] [int] NOT NULL,
	[Razao] [varchar](100) NULL,
	[Fantasia] [varchar](100) NULL,
	[Cnae] [varchar](20) NULL,
	[cnpj] [varchar](20) NULL,
	[IE] [varchar](20) NULL,
	[IM] [varchar](20) NULL,
	[Endereco] [varchar](100) NULL,
	[bairro] [varchar](50) NULL,
	[numero] [varchar](10) NULL,
	[cidadeID] [int] NULL,
	[cep] [varchar](15) NULL,
	[fone] [varchar](30) NULL,
	[responsavel] [varchar](100) NULL,
	[Email] [varchar](150) NULL,
	[logo] [varbinary](1) NULL,
	[filename] [varchar](1) NULL,
	[audiometro] [varchar](100) NULL,
	[DataCalibracao] [datetime] NULL,
	[RepousoAcustico] [varchar](50) NULL,
	[modulofinanceiro] [int] NULL,
	[planocontaconsulta] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Exame]    Script Date: 07/08/2019 10:04:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Exame](
	[ID] [int] NOT NULL,
	[EmpresaID] [int] NOT NULL,
	[Descricao] [varchar](100) NULL,
	[valor] [decimal](18, 2) NULL,
	[Nome] [varchar](100) NULL,
	[ValorExame] [decimal](18, 2) NULL,
	[valorrepasse] [decimal](15, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC,
	[EmpresaID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[financeiro]    Script Date: 07/08/2019 10:04:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[financeiro](
	[id] [int] NOT NULL,
	[empresaid] [int] NOT NULL,
	[parcelaid] [int] NOT NULL,
	[tipo] [int] NULL,
	[dataemissao] [datetime] NULL,
	[datavenciemnto] [datetime] NULL,
	[dataliquidacao] [datetime] NULL,
	[competencia] [varchar](10) NULL,
	[valor] [decimal](15, 4) NULL,
	[juros] [decimal](15, 4) NULL,
	[multa] [decimal](15, 4) NULL,
	[desconto] [decimal](15, 4) NULL,
	[valorbaixado] [decimal](15, 4) NULL,
	[pessoaid] [int] NULL,
	[numerodocumento] [varchar](30) NULL,
	[consultaid] [int] NULL,
	[observacao] [varchar](1000) NULL,
	[categoriaid] [int] NULL,
	[datavencimento] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC,
	[empresaid] ASC,
	[parcelaid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Funcao]    Script Date: 07/08/2019 10:04:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Funcao](
	[ID] [int] NOT NULL,
	[EmpresaID] [int] NOT NULL,
	[Descricao] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC,
	[EmpresaID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[funcionario]    Script Date: 07/08/2019 10:04:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[funcionario](
	[id] [int] NOT NULL,
	[empresaid] [int] NOT NULL,
	[nome] [varchar](100) NULL,
	[naturalidade] [varchar](50) NULL,
	[datanascimento] [datetime] NULL,
	[datacadastro] [datetime] NULL,
	[sexo] [int] NULL,
	[estadocivil] [int] NULL,
	[cpf] [varchar](20) NULL,
	[rg] [varchar](20) NULL,
	[nit] [varchar](20) NULL,
	[cnh] [varchar](20) NULL,
	[ctps] [varchar](30) NULL,
	[endereco] [varchar](100) NULL,
	[numero] [varchar](10) NULL,
	[complemento] [varchar](100) NULL,
	[bairro] [varchar](50) NULL,
	[cep] [varchar](20) NULL,
	[fone1] [varchar](20) NULL,
	[fone2] [varchar](20) NULL,
	[email] [varchar](150) NULL,
	[observacao] [varchar](1000) NULL,
	[cidadeid] [int] NULL,
	[situaca] [int] NULL,
	[situacao] [int] NULL,
	[clienteid] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC,
	[empresaid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[pessoa]    Script Date: 07/08/2019 10:04:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[pessoa](
	[id] [int] NOT NULL,
	[empresaid] [int] NOT NULL,
	[DataCadastro] [datetime] NULL,
	[situacao] [int] NULL,
	[tipopessoa] [int] NULL,
	[tipocadastro] [int] NULL,
	[razao] [varchar](150) NULL,
	[fantasia] [varchar](100) NULL,
	[cnae] [varchar](15) NULL,
	[cnpj] [varchar](20) NULL,
	[IE] [varchar](20) NULL,
	[endereco] [varchar](100) NULL,
	[numero] [varchar](15) NULL,
	[complemento] [varchar](100) NULL,
	[bairro] [varchar](100) NULL,
	[cep] [varchar](20) NULL,
	[fone1] [varchar](20) NULL,
	[fone2] [varchar](20) NULL,
	[fone3] [varchar](20) NULL,
	[contato] [varchar](50) NULL,
	[email] [varchar](150) NULL,
	[observacao] [varchar](1000) NULL,
	[cidadeId] [int] NULL,
	[sexo] [int] NULL,
	[crm] [varchar](20) NULL,
	[crmUf] [varchar](10) NULL,
	[formapgto] [int] NULL,
	[tabelaid] [int] NULL,
	[repasseproporcional] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC,
	[empresaid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[planoconta]    Script Date: 07/08/2019 10:04:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[planoconta](
	[id] [int] NOT NULL,
	[EmpresaID] [int] NOT NULL,
	[Descricao] [varchar](100) NULL,
	[Conta] [varchar](30) NULL,
	[Operacao] [int] NULL,
	[Nivel] [int] NULL,
	[NivelSuperior] [int] NULL,
	[PlanoConta_ID] [int] NULL,
	[PlanoConta_EmpresaID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC,
	[EmpresaID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Risco]    Script Date: 07/08/2019 10:04:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Risco](
	[ID] [int] NOT NULL,
	[Descricao] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Setor]    Script Date: 07/08/2019 10:04:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Setor](
	[ID] [int] NOT NULL,
	[EmpresaID] [int] NOT NULL,
	[Descricao] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC,
	[EmpresaID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[tabelapreco]    Script Date: 07/08/2019 10:04:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tabelapreco](
	[id] [int] NOT NULL,
	[empresaid] [int] NOT NULL,
	[descricao] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC,
	[empresaid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[tabelaprecoexame]    Script Date: 07/08/2019 10:04:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tabelaprecoexame](
	[tabid] [int] NOT NULL,
	[empresaid] [int] NOT NULL,
	[exameid] [int] NOT NULL,
	[valorexame] [decimal](15, 2) NULL,
	[RepasseEncaminhadoPerc] [decimal](15, 2) NULL,
	[RepasseEncaminhadoValor] [decimal](15, 2) NULL,
	[RepasseMedicoValor] [decimal](15, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[tabid] ASC,
	[empresaid] ASC,
	[exameid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[usuario]    Script Date: 07/08/2019 10:04:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[usuario](
	[id] [int] NOT NULL,
	[email] [varchar](100) NOT NULL,
	[admin] [int] NULL,
	[empresaid] [int] NULL,
	[senha] [varchar](500) NULL,
	[rulecadastro] [int] NULL,
	[rulemovimentacao] [int] NULL,
	[rulefinanceiro] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC,
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[Agenda] ([ID], [EmpresaID], [clienteid], [funcionarioid], [dataagendamento], [dataagendado], [hora], [observacoes], [situacao], [dataconclusao], [NomeFuncionario], [NomeCliente]) VALUES (10, 1, NULL, NULL, CAST(N'2018-01-08 13:33:09.793' AS DateTime), CAST(N'2018-01-08 00:00:00.000' AS DateTime), N'16:00', NULL, 0, NULL, N'JARBAS JUNIOR', N'LUIZ PEREIRA')
INSERT [dbo].[Agenda] ([ID], [EmpresaID], [clienteid], [funcionarioid], [dataagendamento], [dataagendado], [hora], [observacoes], [situacao], [dataconclusao], [NomeFuncionario], [NomeCliente]) VALUES (11, 1, 3, NULL, CAST(N'2018-07-08 08:48:09.293' AS DateTime), CAST(N'2018-07-08 00:00:00.000' AS DateTime), N'10:00', NULL, 0, NULL, N'EDSON ARANTES', N'GRUPO GLOBO')
INSERT [dbo].[Agenda] ([ID], [EmpresaID], [clienteid], [funcionarioid], [dataagendamento], [dataagendado], [hora], [observacoes], [situacao], [dataconclusao], [NomeFuncionario], [NomeCliente]) VALUES (12, 1, 4, 2, CAST(N'2018-07-08 08:54:12.263' AS DateTime), CAST(N'2018-10-10 00:00:00.000' AS DateTime), N'10:00', NULL, 0, NULL, N'SERGIO EUGENIO JÚNIOR', N'COMPANHIA SULAMERICANA DE DISTRIBUIÇÃO S/A')
INSERT [dbo].[Agente] ([ID], [EmpresaID], [Descricao], [RiscoID], [DanosSaude], [RecomendacaoMedica]) VALUES (1, 1, N'ETANOL', 5, N'CANCER DE PELE', N'UTILIZAÇÃO DE LUVAS E MÁSCARA')
INSERT [dbo].[Agente] ([ID], [EmpresaID], [Descricao], [RiscoID], [DanosSaude], [RecomendacaoMedica]) VALUES (1, 2, N'SHAMPOO', 2, N'CAI O CABELO', N'TOUCA DE BORRACHA')
INSERT [dbo].[Agente] ([ID], [EmpresaID], [Descricao], [RiscoID], [DanosSaude], [RecomendacaoMedica]) VALUES (2, 1, N'GASOLINA', 2, N'CAI O CABELO', N'TOUCA DE BORRACHA')
INSERT [dbo].[Cidade] ([ID], [Descricao], [UF]) VALUES (1, N'Maringá', N'PR')
INSERT [dbo].[Cidade] ([ID], [Descricao], [UF]) VALUES (2, N'LONDRINA', N'PR')
INSERT [dbo].[Cidade] ([ID], [Descricao], [UF]) VALUES (3, N'SARANDI', N'PR')
GO
INSERT [dbo].[consultaAgente] ([ConsultaID], [EmpresaID], [AgenteID], [consulta_id], [consulta_empresaID]) VALUES (23, 1, 1, NULL, NULL)
INSERT [dbo].[consultaAgente] ([ConsultaID], [EmpresaID], [AgenteID], [consulta_id], [consulta_empresaID]) VALUES (23, 1, 2, NULL, NULL)
INSERT [dbo].[consultaAgente] ([ConsultaID], [EmpresaID], [AgenteID], [consulta_id], [consulta_empresaID]) VALUES (25, 1, 3, NULL, NULL)
INSERT [dbo].[consultaExame] ([ConsultaID], [EmpresaID], [ExameID], [pessoaID], [ValorExame], [FormaPgto], [DataColeta], [DataEmissao], [ProximaConsulta], [SituacaoExame], [Observacao], [medicoId], [consulta_id], [consulta_empresaid], [faturadomedico], [repassemedico], [faturapara], [financeiroid]) VALUES (21, 1, 1, 2, CAST(10.00 AS Decimal(18, 2)), 0, CAST(N'2018-10-07 00:00:00.000' AS DateTime), CAST(N'2017-10-10 00:00:00.000' AS DateTime), CAST(N'2017-10-10 00:00:00.000' AS DateTime), 1, N'321', 1, NULL, NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[consultaExame] ([ConsultaID], [EmpresaID], [ExameID], [pessoaID], [ValorExame], [FormaPgto], [DataColeta], [DataEmissao], [ProximaConsulta], [SituacaoExame], [Observacao], [medicoId], [consulta_id], [consulta_empresaid], [faturadomedico], [repassemedico], [faturapara], [financeiroid]) VALUES (25, 1, 3, -1, CAST(12.90 AS Decimal(18, 2)), 0, CAST(N'2018-07-08 00:00:00.000' AS DateTime), CAST(N'2018-07-08 00:00:00.000' AS DateTime), NULL, 1, N'', -1, NULL, NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[consultaExame] ([ConsultaID], [EmpresaID], [ExameID], [pessoaID], [ValorExame], [FormaPgto], [DataColeta], [DataEmissao], [ProximaConsulta], [SituacaoExame], [Observacao], [medicoId], [consulta_id], [consulta_empresaid], [faturadomedico], [repassemedico], [faturapara], [financeiroid]) VALUES (26, 1, 3, 4, CAST(12.90 AS Decimal(18, 2)), 0, CAST(N'2019-08-06 12:58:12.317' AS DateTime), CAST(N'2019-08-06 12:58:12.317' AS DateTime), NULL, 1, N'', 3, NULL, NULL, 0, 0, 1, NULL)
INSERT [dbo].[contacorrentecaixa] ([id], [empresaid], [banco], [agencia], [numeroconta], [contapadrao], [carteira], [modalidade], [codigobeneficiario], [descricao]) VALUES (1, 1, 999, NULL, N'CAIXA', 1, NULL, NULL, NULL, N'CONTA CAIXA')
INSERT [dbo].[Empresa] ([ID], [Razao], [Fantasia], [Cnae], [cnpj], [IE], [IM], [Endereco], [bairro], [numero], [cidadeID], [cep], [fone], [responsavel], [Email], [logo], [filename], [audiometro], [DataCalibracao], [RepousoAcustico], [modulofinanceiro], [planocontaconsulta]) VALUES (1, N'PRODUSYS SAUDE OCUPACIONAL', N'PRODUSYS', N'45647', N'06.297.637/0001-45', N'111111111111', N'123', N'AVENIDA MANDACARU', N'JARDIM CAROLINA', N'123', 4, N'87075-465', N'(44) 3246-4046', N'WEBER/FABIO', N'contato@produsys.com.br', NULL, NULL, N'AVR-3050', CAST(N'2017-10-10 00:00:00.000' AS DateTime), N'', 1, 3)
INSERT [dbo].[Empresa] ([ID], [Razao], [Fantasia], [Cnae], [cnpj], [IE], [IM], [Endereco], [bairro], [numero], [cidadeID], [cep], [fone], [responsavel], [Email], [logo], [filename], [audiometro], [DataCalibracao], [RepousoAcustico], [modulofinanceiro], [planocontaconsulta]) VALUES (2, N'Produvida', N'Produvida', NULL, NULL, NULL, NULL, NULL, NULL, NULL, 1, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, 1, NULL)
INSERT [dbo].[Exame] ([ID], [EmpresaID], [Descricao], [valor], [Nome], [ValorExame], [valorrepasse]) VALUES (1, 1, NULL, NULL, N'AUDIOMETRIA', CAST(10.00 AS Decimal(18, 2)), NULL)
INSERT [dbo].[Exame] ([ID], [EmpresaID], [Descricao], [valor], [Nome], [ValorExame], [valorrepasse]) VALUES (1, 2, NULL, NULL, N'CONSULTA OCUPACIONAL', CAST(15.00 AS Decimal(18, 2)), NULL)
INSERT [dbo].[Exame] ([ID], [EmpresaID], [Descricao], [valor], [Nome], [ValorExame], [valorrepasse]) VALUES (2, 2, NULL, NULL, N'AUDIOMETRIA', CAST(39.00 AS Decimal(18, 2)), NULL)
INSERT [dbo].[Funcao] ([ID], [EmpresaID], [Descricao]) VALUES (3, 1, N'FUNÇÃO 11')
INSERT [dbo].[Funcao] ([ID], [EmpresaID], [Descricao]) VALUES (3, 2, N'ADMINISTRADOR')
INSERT [dbo].[Funcao] ([ID], [EmpresaID], [Descricao]) VALUES (4, 1, N'PEDREIRO')
INSERT [dbo].[funcionario] ([id], [empresaid], [nome], [naturalidade], [datanascimento], [datacadastro], [sexo], [estadocivil], [cpf], [rg], [nit], [cnh], [ctps], [endereco], [numero], [complemento], [bairro], [cep], [fone1], [fone2], [email], [observacao], [cidadeid], [situaca], [situacao], [clienteid]) VALUES (3, 1, N'RONIVAN DA SILVA', N'', CAST(N'2000-01-01 00:00:00.000' AS DateTime), NULL, 1, 1, NULL, N'', N'', N'', N'', N'', N'', N'', N'', N'', N'', N'', NULL, N'', 8, NULL, 0, NULL)
INSERT [dbo].[funcionario] ([id], [empresaid], [nome], [naturalidade], [datanascimento], [datacadastro], [sexo], [estadocivil], [cpf], [rg], [nit], [cnh], [ctps], [endereco], [numero], [complemento], [bairro], [cep], [fone1], [fone2], [email], [observacao], [cidadeid], [situaca], [situacao], [clienteid]) VALUES (4, 1, N'ALBERTO ROBERTO', N'', NULL, CAST(N'2018-09-08 00:00:00.000' AS DateTime), 1, 1, NULL, N'', N'', N'', N'', N'AVENIDA MANDACARU', N'', N'', N'', N'87075-465', N'', N'', N'jarbas@gmail.com', N'', 8, NULL, 0, 4)
INSERT [dbo].[pessoa] ([id], [empresaid], [DataCadastro], [situacao], [tipopessoa], [tipocadastro], [razao], [fantasia], [cnae], [cnpj], [IE], [endereco], [numero], [complemento], [bairro], [cep], [fone1], [fone2], [fone3], [contato], [email], [observacao], [cidadeId], [sexo], [crm], [crmUf], [formapgto], [tabelaid], [repasseproporcional]) VALUES (3, 1, CAST(N'2018-07-08 00:00:00.000' AS DateTime), 0, 2, 1, N'GRUPO GLOBO', N'GRUPO GLOBO', N'212121', NULL, N'', N'', N'', N'', N'', N'', N'', N'', N'', N'', NULL, N'', 8, NULL, N'', NULL, 1, NULL, NULL)
INSERT [dbo].[planoconta] ([id], [EmpresaID], [Descricao], [Conta], [Operacao], [Nivel], [NivelSuperior], [PlanoConta_ID], [PlanoConta_EmpresaID]) VALUES (1, 1, N'RECEITAS', N'01.', 1, 0, NULL, NULL, NULL)
INSERT [dbo].[planoconta] ([id], [EmpresaID], [Descricao], [Conta], [Operacao], [Nivel], [NivelSuperior], [PlanoConta_ID], [PlanoConta_EmpresaID]) VALUES (2, 1, N'DESPESAS', N'02.', 2, 0, NULL, NULL, NULL)
INSERT [dbo].[planoconta] ([id], [EmpresaID], [Descricao], [Conta], [Operacao], [Nivel], [NivelSuperior], [PlanoConta_ID], [PlanoConta_EmpresaID]) VALUES (3, 1, N'CONSULTA OCUPACIONAL', N'01.0001', 1, 1, 1, NULL, NULL)
INSERT [dbo].[Risco] ([ID], [Descricao]) VALUES (1, N'BIOLÓGICO')
INSERT [dbo].[Risco] ([ID], [Descricao]) VALUES (2, N'QUÍMICO')
INSERT [dbo].[Risco] ([ID], [Descricao]) VALUES (3, N'FÍSICO')
INSERT [dbo].[Setor] ([ID], [EmpresaID], [Descricao]) VALUES (1, 2, N'LAVANDERIA')
INSERT [dbo].[Setor] ([ID], [EmpresaID], [Descricao]) VALUES (2, 1, N'SETOR 2')
INSERT [dbo].[Setor] ([ID], [EmpresaID], [Descricao]) VALUES (2, 2, N'ADMINISTRATIVO')
INSERT [dbo].[usuario] ([id], [email], [admin], [empresaid], [senha], [rulecadastro], [rulemovimentacao], [rulefinanceiro]) VALUES (1, N'suporte@produsys.com.br', NULL, 1, N'19FBD782F663283AEF8C478441E00168', NULL, NULL, NULL)
INSERT [dbo].[usuario] ([id], [email], [admin], [empresaid], [senha], [rulecadastro], [rulemovimentacao], [rulefinanceiro]) VALUES (2, N'sjuniorbrasil@gmail.com', NULL, 1, N'19FBD782F663283AEF8C478441E00168', NULL, NULL, NULL)
USE [master]
GO
