@{
    ViewBag.Title = "Página Inicial";
}

<div class="row" style="margin-left:10px;margin-right:10px">
    <a id="linkPrincipal" href="~/Agenda/Index/" style="text-decoration: none;width:100%;height:100px;box-sizing:border-box">
        <div style="margin-left:17px;margin-top:10px" id="iconMenu" href="~/Agenda/Index/">
            <p style="text-align:center;margin-top:8px"><span style="font-size:45px;" class="fa fa-calendar"></span></p>
            <p style="text-align:center;font-size:18px;margin-top:-5px">Agenda</p>            
        </div>
    </a>
    <a id="linkPrincipal" href="~/Consultas/Index/" style="text-decoration: none;">
        <div style="margin-top:10px" id="iconMenu">
            <p style="text-align:center;"><span style="font-size:45px" class="glyphicon glyphicon-list"></span></p>
            <p style="text-align:center;font-size:18px;margin-top:-5px">Questionário</p>
        </div>
    </a>
    <a id="linkPrincipal" href="~/Pessoas/Index/" style="text-decoration: none;">
        <div style="margin-left:17px" id="iconMenu">
            <p style="text-align:center;margin-top:8px"><span style="font-size:45px;" class="fa fa-group"></span></p>
            <p style="text-align:center;font-size:18px;margin-top:-5px">Clientes</p>
        </div>
    </a>
    <a id="linkPrincipal" href="~/Funcionarios/Index/" style="text-decoration: none;">
        <div id="iconMenu">
            <p style="text-align:center;margin-top:8px"><span style="font-size:45px" class="fa fa-drivers-license"></span></p>
            <p style="text-align:center;font-size:18px;margin-top:-5px">Funcionários</p>
        </div>
    </a>
    <a id="linkPrincipal" href="~/Exames/Index/" style="text-decoration: none;">
        <div style="margin-left:17px" id="iconMenu">
            <p style="text-align:center;margin-top:8px"><span style="font-size:45px;" class="fa fa-stethoscope"></span></p>
            <p style="text-align:center;font-size:18px;margin-top:-5px">Exames</p>
        </div>
    </a>
    <a id="linkPrincipal" href="~/Agentes/Index/" style="text-decoration: none;">
        <div id="iconMenu">
            <p style="text-align:center;"><span style="font-size:45px" class="glyphicon glyphicon-fire"></span></p>
            <p style="text-align:center;font-size:18px;margin-top:-15px">Agentes de Risco</p>
        </div>
    </a>
    <a id="linkPrincipal" href="~/Report/RepConsultaFiltro/" style="text-decoration: none">
        <div style="margin-left:17px" id="iconMenu">
            <p style="text-align:center;margin-top:4px"><span style="font-size:45px;" class="fa fa-sticky-note"></span></p>
            <p style="text-align:center;font-size:18px;margin-top:-15px">Relatório de Consultas</p>
        </div>
    </a>
    <a id="linkPrincipal" href="~/Empresas/Edit/" style="text-decoration: none;">
        <div id="iconMenu">
            <p style="text-align:center;margin-top:8px"><span style="font-size:45px" class="fa fa-sliders"></span></p>
            <p style="text-align:center;font-size:18px;margin-top:-5px">Configurações</p>
        </div>
    </a>
</div>

